/* HEADER */
body{
  font-family: 'Open Sans', sans-serif;
}
a{
  text-decoration: none;
}
.list-inline{
  list-style: none;
}

.list-inline li{
  display: inline-block;

}
/* header{
  opacity: 0.9;
} */
/* header-top */

.header-top{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  /* background-color:rgba(244, 244, 244, 0.8); */
  background: #fff;
  /* opacity: 0.4; */
  height: 60px;
  line-height: 60px;
  z-index: 3;
}

.logo{
  height: 12px;
  margin-left:20px;
}

.main-menu{
  text-align: right;
}

.main-menu li{
  padding-right: 30px;
  font-size: 14px;
}
 li a{
  color:#000;
  text-transform: uppercase;
  font-size: 12px;
}

.side-menu{
  text-align: right;
}

.btn{
  padding: 10px 15px;
  background-color: #000;
  color:#fff;
  font-size: 0.8rem;
  margin:0 15px;
  text-transform: none;
}

#eng{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0 10px;
}

/* HERO */
/* so che manca position a hero ma se lo metto mi si sballa tutto e non mi va di rifare i conti */
.hero-video{
   position: relative;
   left: 0;
   top: 50%;
   transform: translate(0, -30%);
   min-width:100%;
   max-width:100%;
   z-index:-3;
}

.hero-content{
  position: absolute;
  left:50%;
  top:30%;
  transform: translate(-50%, -50%);
  color:#fff;
  text-align: center;
}
.hero-content h1{
  margin-top:30px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 600;
}

.hero-content img{
  margin-top:30px;
}

.hero-content img:last-child{
  margin-left:20px;
}


@media screen and (min-width:768px) and (max-width:992px){
  .fa-bars{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translate(0, -50%);
  }

  .logo{
    position: absolute;
    left:20px;
    top:50%;
    transform: translate(0, -50%);
  }

  .hero-video{
    top: 0;
    /* transform: translate(0, -20%); */
  }

  .hero-content{
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%, -180%);
  }

  .logo{
    margin-left:0;
  }

  .hero-content h1{
    margin-top:0;
    font-size: 30px;
  }
}

@media screen and (max-width:768px){

  .fa-bars{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translate(0, -50%);
  }

  .logo{
    position: absolute;
    left:20px;
    top:50%;
    transform: translate(0, -50%);
  }

  .hero-video{
    top: 0;
    /* transform: translate(0, -35%); */
    max-width: none;
  }

  .hero-content{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -30%);
  }

  .hero-content h1{
    margin-top:0;
    font-size: 30px;
  }

  .hero-content p{
    font-size: 14px;
  }

  .header-top{
    background-color: #000;
  }

  .fa-bars{
    color:#fff;
  }
}
/* MAIN */
.helbiz-item{
  background-color: #FAFAFA;
  padding-top: 7%;
  text-align: center;
}

.helbiz-item p{
  margin:30px 0;
  font-size: 18px;
}
.helbiz-item a{
  margin:30px 0;
  color:rgb(0,112,200);
}

.helbiz-item img:first-child{
  width: 60%;
}

.helbiz-item img:last-child{
  width: 90%;
}


@media screen and (max-width:992px){
  .helbiz-item{
    background-color: #FAFAFA;
    padding-top: 7%;
    text-align: center;
  }

  .helbiz-item:last-child{
    margin-top:50px;
  }
}


.vecchietto{
  margin-top: 80px;
  position: relative;
  /* background-image: url(../img/vecchio.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

.vecchietto img:first-child{
  width: 100%;
}
/*
.iphone{
  width:15%;
  position: relative;
  transform: translate(-50%, -50%);
} */
#iphone{
  width:15%;
  position: absolute;
  transform: translate(-50%, -60%);
  z-index: 1;
}
#iphone-pic-1{
  width:13%;
  position: absolute;
  transform: translate(-50%, -61.5%);
  z-index: 0;
}
.vecchietto h1, .vecchietto h3{
  margin-top:30px;
}

.vecchietto p{
  margin-top:20px;
}
